<header class="header">
    <div class="container">
        <div class="header-content">
            <a href="{BASE_PATH}index.html" class="logo">
                <img src="{BASE_PATH}data/logo_nobg.png" alt="Логотип ГАУЗ Кайбицкая ЦРБ">
                <h1>ГАУЗ Кайбицкая ЦРБ</h1>
            </a>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="dropdown">
                        <a href="{BASE_PATH}index.html#about">О больнице</a>
                        <ul class="dropdown-menu">
                            <li><a href="{BASE_PATH}index.html#about">О больнице</a></li>
                            <li><a href="{BASE_PATH}employees/employees.html">Сотрудники</a></li>
                            <li><a href="{BASE_PATH}news/news.html">Новости</a></li>
                            <li><a href="{BASE_PATH}docs/documents.html">Документы</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{BASE_PATH}index.html#services">Специалистам</a>
                        <ul class="dropdown-menu">
                            <li><a href="{BASE_PATH}vacancies/vacancies.html">Вакансии</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{BASE_PATH}index.html#services">Пациентам</a>
                        <ul class="dropdown-menu">
                            <li><a href="{BASE_PATH}services/pregnant.html">Для беременных</a></li>
                            <li><a href="{BASE_PATH}services/useful-links.html">Полезные ссылки</a></li>
                        </ul>
                    </li>
                    <li><a href="{BASE_PATH}index.html#contacts">Контакты</a></li>
                </ul>
            </nav>
            <div class="header-phone">
                <a href="tel:+78437021332">+7 (843) 702-13-32</a>
            </div>
        </div>
    </div>
</header>

